h1 {
    color:#007396;
    font-family: Arial;
}
 
h2 {
    color:#007396;
   # font-family: Arial;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, td, th {  
	border: 1px solid #ddd;
	text-align: left;
}


th, td {
	padding: 10px;
	font-family: Arial; 
	font-size: 10pt;
}